name: Create Issue from Form

on:
  repository_dispatch:
    types: [create-issue]

jobs:
  create_issue:
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Create issue
        uses: actions/github-script@v7
        with:
          github-token: ${{secrets.GITHUB_TOKEN}}
          script: |
            await github.rest.issues.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: context.payload.client_payload.title,
              body: context.payload.client_payload.body,
              labels: ['demande-rdv']
            });
